version: "3.9"

services:
  vote:
    build: ./vote
    container_name: vote-app
    ports:
      - "8080:8080"
    environment:
      - OPTION_A=Cats
      - OPTION_B=Dogs
    depends_on:
      - redis
    networks:
      - frontend
      - backend

  redis:
    image: redis:7
    container_name: redis-db
    networks:
      - backend 

networks:
  frontend:
  backend:

