services:
  vote:
    build: ./vote
    container_name: vote-app
    ports:
      - "8080:8080"
    environment:
      - OPTION_A=Cats
      - OPTION_B=Dogs
    depends_on:
      - redis
    networks:
      - frontend
      - backend

  redis:
    image: redis:7
    container_name: redis-db
    networks:
      - backend 

  worker:
    build: ./worker
    container_name: worker
    depends_on:
      - redis
      - db
    networks:
      - backend    

  result:
    build: ./result
    container_name: result-app
    ports:
      - "8081:8081"
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
    depends_on:
      - db
    networks:
      - frontend
      - backend

  db:
    image: postgres:15
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - backend

networks:
  frontend:
  backend:

volumes:
  db-data: